<div class=''>
  <div class='py-14 max-w-[700px] mx-auto'>
  <%= form_with model: [ @tackle, @rod ], local: true do |f| %>
    <h1 class='text-center text-3xl text-black font-bold'><%= t('.title') %></h1>
      <div class='mt-10 flex items-center'>
        <%= f.label :name, class: 'text-black font-bold text-xl w-[120px] text-right pr-4' %>
        <%= f.text_field :name, class: 'flex-grow shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline border-blue border-2' %>
      </div>
      <div class='mt-10 flex items-center'>
        <%= f.label :image, class: 'text-black font-bold text-xl w-[120px] text-right pr-4' %>
        <%= f.file_field :image, class: 'flex-grow shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline border-blue border-2' %>
      </div>
      <div class='mt-10 flex items-center'>
        <%= f.label :memo, class: 'text-black font-bold text-xl w-[120px] text-right pr-4' %>
        <%= f.text_field :memo, class: 'flex-grow shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline border-blue border-2' %>
      </div>
      <div class='mt-8 text-center'>
        <button type="submit" class="btn font-bold bg-blue text-white hover:bg-blue-700 py-2 px-10 rounded focus:outline-none focus:shadow-outline"><%= t('.submit') %></button>
      </div>
    <% end %>
    <div class='mt-4 text-center'>
      <%= link_to t('.return'), tackle_path(@tackle), class: 'underline underline-offset-2 text-link hover:orange font-bold' %>
    </div>
  </div>

</div>