<%= form_with model: @tackle, id: 'tackle_form', class: 'md:mt-10 mt-5' do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class='md:mt-10 mt-5'>
        <%= f.label :name, class: 'text-black font-bold md:text-xl text-lg required' %>
        <%= f.text_field :name, class: 'shadow appearance-none border-2 border-blue rounded w-full md:py-2 py-1 md:px-3 px-2 text-black leading-tight focus:outline-none focus:shadow-outline', placeholder: t('.placeholder.name') %>
    </div>
    <div class='md:mt-10 mt-5'>
        <%= f.label :image, class: 'text-black font-bold md:text-xl text-lg' %>
        <%= f.file_field :image, class: 'shadow appearance-none border-2 border-blue rounded w-full md:py-2 py-1 md:px-3 px-2 text-black leading-tight focus:outline-none focus:shadow-outline' %>
    </div>
    <div class="md:mt-10 mt-5" id="previews_tackle">
        <% if @tackle.persisted? && @tackle.image.attached? %>
            <div class="preview">
                <%= image_tag @tackle.image, class: 'preview-image' %>
            </div>
        <% end %>
    </div>
    <div class='md:mt-8 mt-4 text-center'>
        <button type="submit" class="md:text-base text-sm btn font-bold bg-blue text-white hover:bg-blue-700 md:py-2 py-1 md:px-10 px-5 rounded focus:outline-none focus:shadow-outline"><%= t('.submit') %></button>
    </div>
<% end %>
