<% content_for(:title, t('.title')) %>
  <div class='md:py-14 py-7 md:max-w-1200 max-w-full mx-auto px-4'>
    <h1 class='text-center md:text-3xl text-2xl text-black font-bold'><%= t('.title') %></h1>
    <div class='md:mt-10 mt-5 text-center'>
      <%= link_to t('.create_new_tackle'), new_tackle_path, class: 'btn bg-orange text-white md:py-2 py-0 md:px-10 px-5 underline-offset-2 hover:orange font-bold md:text-base text-sm' %>
    </div>
    <!-- タックルを一覧表示 -->
    <div class="md:mt-10 mt-5 grid grid-cols-1 md:grid-cols-2 md:gap-6 gap-3">
      <% if @tackles.present? %>
        <%= render @tackles %>
      <% else %>
        <div class="md:mb-3 mb-2"><%= t('.please_create_tackle') %></div>
      <% end %>
    </div>
</div>
<%= paginate @tackles %>

<div id="loading">
  <div class="spinner"></div>
</div>