<% content_for(:title, @tackle.name) %>
<div class='md:py-14 py-4 md:max-w-1200 max-w-full mx-auto px-4'>

    <div class="rounded overflow-hidden">
        <%= image_tag @tackle.image, class: "w-full md:h-96 h-48 object-cover" %>
    </div>

    <div class='md:mt-8 mt-4'>
        <h1 class='text-center md:text-3xl text-2xl text-black font-bold'><%= @tackle.name %></h1>
    </div>

    <div class='md:mt-10 mt-5 text-center'>
    <button class="btn bg-blue text-white" onclick="my_modal_3.showModal()"><%= t('.add_fishing_gear') %></button>
    <!-- モーダルウィンドウ -->
    <dialog id="my_modal_3" class="modal">
    <div class="modal-box">
        <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <h2 class='font-bold text-xl'><%= t('.please_add_fishing_gear') %></h2>
        <div class='mt-6'>
            <%= link_to t('.add_rod'), new_tackle_rod_path(@tackle), class: 'btn bg-orange text-white py-2 px-10 underline-offset-2 hover:orange font-bold' %>
            <%= link_to t('.add_reel'), new_tackle_reel_path(@tackle), class: 'btn bg-orange text-white py-2 px-10 underline-offset-2 hover:orange font-bold' %>
            <%= link_to t('.add_accesory'), new_tackle_accesory_path(@tackle), class: 'btn bg-orange text-white py-2 px-10 underline-offset-2 hover:orange font-bold' %>
        </div>
    </div>
    </dialog>
    <!-- モーダルウィンドウここまで -->
    <div class='md:mt-10 mt-5 grid grid-cols-2 md:grid-cols-4 md:gap-6 gap-3'>
        <% if @tackle.rods.present? %>
            <%= render @tackle.rods %>
        <% else %>
            <p></p>
        <% end %>
        <% if @tackle.reels.present? %>
            <%= render @tackle.reels %>
        <% else %>
            <p></p>
        <% end %>
        <% if @tackle.accesories.present? %>
            <%= render @tackle.accesories %>
        <% else %>
            <p></p>
        <% end %>
    </div>
</div>

<div class='md:mt-4 mt-2 text-center'>
    <%= link_to t('.return'), tackles_path, class: 'underline underline-offset-2 text-link hover:orange font-bold' %>
</div>

</div>