<% content_for(:title, @tackle.name) %>
<div class='py-14 max-w-[1000px] mx-auto px-4'>
  <div>
  <h1 class='text-center text-3xl text-black font-bold'><%= @tackle.name %></h1>
  </div>
  <div class='mt-10 text-center'>
    <!-- You can open the modal using ID.showModal() method -->
    <button class="btn bg-blue text-white" onclick="my_modal_3.showModal()">釣り具を追加する</button>
    <dialog id="my_modal_3" class="modal">
    <div class="modal-box">
        <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <h2 class='font-bold text-xl'>釣り具を追加しましょう！</h2>
        <div class='mt-6'>
            <%= link_to 'ロッド+', new_tackle_rod_path(@tackle), class: 'btn bg-orange text-white py-2 px-10 underline-offset-2 hover:orange font-bold' %>
            <%= link_to 'リール+', new_tackle_reel_path(@tackle), class: 'btn bg-orange text-white py-2 px-10 underline-offset-2 hover:orange font-bold' %>
            <%= link_to '小物+', new_tackle_accesory_path(@tackle), class: 'btn bg-orange text-white py-2 px-10 underline-offset-2 hover:orange font-bold' %>
        </div>
    </div>
    </dialog>
    <div class='flex flex-wrap mt-6'>
        <% if @tackle.rods.present? %>
            <%= render @tackle.rods %>
        <% else %>
            <p></p>
        <% end %>
        <% if @tackle.reels.present? %>
            <%= render @tackle.reels %>
        <% else %>
            <p></p>
        <% end %>
        <% if @tackle.accesories.present? %>
            <%= render @tackle.accesories %>
        <% else %>
            <p></p>
        <% end %>
    </div>
  </div>

  <div class='mt-4 text-center'>
      <%= link_to t('.return'), tackles_path, class: 'underline underline-offset-2 text-link hover:orange font-bold' %>
  </div>

</div>