<% content_for(:title, t('.title')) %>
<div class="container mx-auto md:px-[30px] px-[15px] md:py-[60px] py-[30px] text-black">
  <h1 class="md:text-3xl text-2xl font-bold text-center"><%= t('.title') %></h1>
  <p class="md:mt-4 mt-2 text-center">このページでは、初心者向けにタックルの基本的な知識についてまとめています。</p>

  <div class="md:mt-10 mt-6 border-2 border-blue rounded max-w-[400px] mx-auto">
    <div class="flex justify-center p-2 bg-blue text-white font-bold md:text-xl text-lg">
      <span class="flex items-center">
        <svg class="inline-block w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M8 4H21V6H8V4ZM3 3.5H6V6.5H3V3.5ZM3 10.5H6V13.5H3V10.5ZM3 17.5H6V20.5H3V17.5ZM8 11H21V13H8V11ZM8 18H21V20H8V18Z" fill="#fff"/>
        </svg>
        目次
      </span>
    </div>
    <ol class="list-decimal p-4 pl-8">
      <li class="py-1 font-semibold">
        <a href="#rod" class="no-underline">ロッド</a>
        <ol class="list-decimal pl-4 mt-1">
          <li class="py-1 font-medium text-sm"><a href="#rod_length" class="no-underline">ロッドの長さ</a></li>
          <li class="py-1 font-medium text-sm"><a href="#rod_hardness" class="no-underline">ロッドの硬さ</a></li>
          <li class="py-1 font-medium text-sm"><a href="#rod_property" class="no-underline">ロッドの特性</a></li>
          <li class="py-1 font-medium text-sm"><a href="#rod_product" class="no-underline">ロッドの商品表記見方</a></li>
        </ol>
      </li>
      <li class="py-1 font-semibold">
        <a href="#reel" class="no-underline">リール</a>
        <ol class="list-decimal pl-4 mt-1">
          <li class="py-1 font-medium text-sm"><a href="#reel_size" class="no-underline">リールの大きさ(番手)</a></li>
          <li class="py-1 font-medium text-sm"><a href="#reel_ratio" class="no-underline">リールのギア比</a></li>
          <li class="py-1 font-medium text-sm"><a href="#reel_choose" class="no-underline">リールの選び方</a></li>
        </ol>
      </li>
      <li class="py-1 font-semibold">
        <a href="#line" class="no-underline">ライン</a>
        <ol class="list-decimal pl-4 mt-1">
          <li class="py-1 font-medium text-sm"><a href="#line_nylon" class="no-underline">ナイロンライン</a></li>
          <li class="py-1 font-medium text-sm"><a href="#line_frollo" class="no-underline">フロロカーボンライン</a></li>
          <li class="py-1 font-medium text-sm"><a href="#line_pe" class="no-underline">PEライン</a></li>
        </ol>
      </li>
      <li class="py-1 font-semibold"><a href="#lure" class="no-underline">ルアー</a></li>
      <li class="py-1 font-semibold">
        <a href="#tackle_combination" class="no-underline">タックルの組み合わせ</a>
        <ol class="list-decimal pl-4 mt-1">
          <li class="py-1 font-medium text-sm"><a href="#tackle_combination_point" class="no-underline">組み合わせのポイント</a></li>
          <li class="py-1 font-medium text-sm"><a href="#tackle_set" class="no-underline">初心者向けタックルセット</a></li>
        </ol>
      </li>
    </ol>
  </div>

  <section class="md:py-10 py-6">
    <h2 class="md:text-2xl text-xl font-bold">タックルの知識</h2>
    <p class="md:mt-4 mt-2 leading-relaxed">まず初めにタックルの基本を解説します。<br>タックルとは、<span class="text-orange font-bold">釣りのための道具一式</span>のことを指します。ロッド(釣竿)、リール、ライン(糸)、ルアー(擬似)、仕掛け、エサなどこれら一式指します。狙う魚や釣り方によってタックルは変わります。</p>

    <div class="md:pt-10 pt-6" id="rod">
      <h3 class="md:text-xl text-lg font-bold">ロッド</h3>
      <p class="leading-relaxed md:mt-4 mt-2">ロッドとは釣り竿のことを指します。ロッドの種類には、ジョイント式(繋げるタイプ)、振り出し式(伸びるタイプ)、のべ竿(リールをつけないロッド)があります。さらにそこから、スピニングリール専用ロッドのスピニングロッドとベイトリール専用のベイトロッドに分かれます。狙う魚と釣法に合わせて、硬さと長さを選ぶ必要があります。</p>

      <div class="md:mt-6 mt-3 grid md:grid-cols-3 grid-cols-3 md:gap-2 gap-1 font-bold">
        <div class="text-center">
          <p>ジョイント式</p>
          <%= image_tag "joint_rod.jpg", class: "w-full md:h-60 h-32 object-cover mt-1" %>
        </div>
        <div class="text-center">
          <p>振り出し式</p>
          <%= image_tag "huri_rod.jpg", class: "w-full md:h-60 h-32 object-cover mt-1" %>
        </div>
        <div class="text-center">
          <p>延べ竿</p>
          <%= image_tag "nobe_rod.jpg", class: "w-full md:h-60 h-32 object-cove mt-1" %>
        </div>
      </div>

      <div class="md:pt-10 pt-6" id="rod_length">
        <h4 class="md:text-lg text-base font-bold">ロッドの長さ</h4>
        <p class="md:mt-4 mt-2">以下はロッドの長さについてまとめた表です。長さによって釣り場所と釣法が変わってきますので参考にしてみてください。<br>※ft(フィート)は<span class="text-orange font-bold">1ftあたり30.48cm</span>です。ftの読み方についてですが、例えば<span class="text-orange font-bold">7.6ftは7フィート6インチ</span>の意味です。</p>
        <div class="js-scrollable bg-white md:mt-4 mt-2">
          <table class="md:w-full w-[800px]">
            <thead>
                <tr class="bg-[#D1D5DA]">
                  <th class="py-3 px-4 border-2 border-blue">長さ(ft)</th>
                  <th class="py-3 px-4 border-2 border-blue">釣法</th>
                  <th class="py-3 px-4 border-2 border-blue">釣りの場所</th>
                  <th class="py-3 px-4 border-2 border-blue">狙える魚</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="py-2 px-4 border-2 border-blue">6ft〜7ft</td>
                    <td class="py-2 px-4 border-2 border-blue">渓流釣り、アジング、バス、エギング</td>
                    <td class="py-2 px-4 border-2 border-blue">渓流釣り、漁港、小河川</td>
                    <td class="py-2 px-4 border-2 border-blue">アジ、サバ、イワシ、ヤマメ、トラウト、ブラックバス、スズキ、イカ</td>
                </tr>
                <tr>
                    <td class="py-2 px-4 border-2 border-blue">7ft〜8ft</td>
                    <td class="py-2 px-4 border-2 border-blue">投げ釣り、サビキ釣り、シーバスフィッシング、ショアジギング</td>
                    <td class="py-2 px-4 border-2 border-blue">磯場、漁港、堤防、サーフ</td>
                    <td class="py-2 px-4 border-2 border-blue">キス、シーバス、青物</td>
                </tr>
                <tr>
                    <td class="py-2 px-4 border-2 border-blue">8ft〜10ft</td>
                    <td class="py-2 px-4 border-2 border-blue">サーフフィッシング、ショアジギング、磯釣り、遠投サビキ</td>
                    <td class="py-2 px-4 border-2 border-blue">海岸、磯場、堤防、大型河川、サーフ</td>
                    <td class="py-2 px-4 border-2 border-blue">ヒラメ、マゴチ、メジナ、クロダイ、青物</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="md:pt-10 pt-6" id="rod_hardness">
        <h4 class="md:text-lg text-base font-bold">ロッドの硬さ</h4>
        <p class="md:mt-4 mt-2">以下はロッドの硬さについてまとめた表です。硬さによって対応できるルアーの重さが変わってきますので参考にしてみてください。</p>
        <div class="js-scrollable bg-white md:mt-4 mt-2">
          <table class="md:w-full w-[800px]">
            <thead>
                <tr class="bg-[#D1D5DA]">
                    <th class="py-3 px-4 border-2 border-blue">硬さ表記</th>
                    <th class="py-3 px-4 border-2 border-blue">対応する重量</th>
                    <th class="py-3 px-4 border-2 border-blue">釣法</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="py-2 px-4 border-2 border-blue">UL(ウルトラライト)</td>
                    <td class="py-2 px-4 border-2 border-blue">3g程度</td>
                    <td class="py-2 px-4 border-2 border-blue">トラウト、アジング、メバリング</td>
                </tr>
                <tr>
                    <td class="py-2 px-4 border-2 border-blue">L(ライト)</td>
                    <td class="py-2 px-4 border-2 border-blue">5g～20g程度</td>
                    <td class="py-2 px-4 border-2 border-blue">バス、トラウト、アジング、メバリング</td>
                </tr>
                <tr>
                    <td class="py-2 px-4 border-2 border-blue">ML(ミディアムライト)</td>
                    <td class="py-2 px-4 border-2 border-blue">4g～30g程度</td>
                    <td class="py-2 px-4 border-2 border-blue">投げ釣り、エギング、シーバス、ライトショアジギング</td>
                </tr>
                <tr>
                    <td class="py-2 px-4 border-2 border-blue">M(ミディアム)</td>
                    <td class="py-2 px-4 border-2 border-blue">10g～40g程度</td>
                    <td class="py-2 px-4 border-2 border-blue">バス、シーバス、ライトショアジギング</td>
                </tr>
                <tr>
                    <td class="py-2 px-4 border-2 border-blue">MH(ミディアムヘビー)</td>
                    <td class="py-2 px-4 border-2 border-blue">20g～50g程度</td>
                    <td class="py-2 px-4 border-2 border-blue">シーバス、ショアジギング</td>
                </tr>
                <tr>
                    <td class="py-2 px-4 border-2 border-blue">H(ヘビー)</td>
                    <td class="py-2 px-4 border-2 border-blue">30g～80g程度</td>
                    <td class="py-2 px-4 border-2 border-blue">青物、ショアジギング</td>
                </tr>
                <tr>
                    <td class="py-2 px-4 border-2 border-blue">XH(エクストラヘビー)</td>
                    <td class="py-2 px-4 border-2 border-blue">50g以上</td>
                    <td class="py-2 px-4 border-2 border-blue">大型青物、オフショアジギング</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="md:pt-10 pt-6" id="rod_property">
        <h4 class="md:text-lg text-base font-bold">ロッド特性</h4>
        <p class="md:mt-4 mt-2">ロッドの材質はカーボンやグラスファイバーなどがあり、感度や強度が異なります。<br>アクションはロッドのしなり具合でファースト、ミディアム、スローなどがあります。<br>グリップは握りやすさや操作性に影響し、ガイドはラインの摩擦やトラブルを防ぐためのパーツです。</p>
      </div>

      <div class="md:pt-6 pt-3" id="rod_product">
        <h4 class="md:text-lg text-base font-bold">ロッド商品表記の見方</h4>
        <p></p>
        <div class="md:mt-6 mt-3">
          <p class="font-bold">例1：S96ML</p>
          <p class="mt-1"><strong>S</strong>：ロッドの種類やシリーズを示します。これはスピニングのSです。ここがBならベイトになります。</p>
          <p><strong>96</strong>：ロッドの長さを示します。この場合、9.6フィートです。</p>
          <p><strong>MH</strong>：ロッドの硬さを示します。MLはミディアムライトを意味します。</p>
        </div>
        <div class="md:mt-6 mt-3">
          <p class="font-bold">例2：172H-2</p>
          <p class="mt-1"><strong>1</strong>：ロッドの種類やシリーズを示します。これはベイトの1です。2ならスピニングになります。</p>
          <p><strong>72</strong>：ロッドの長さを示します。この場合、7フィート2インチです。</p>
          <p><strong>H</strong>：ロッドの硬さを示します。Hはヘビーを意味します。</p>
        </div>
        <p class="md:mt-6 mt-3">商品表記はメーカーごとに異なりますので、詳しい内容は調べたり、商品概要欄から覗いてみてください。</p>
      </div>
    </div>

    <div class="md:pt-10 pt-6" id="reel">
      <h3 class="md:text-xl text-lg font-bold">リール</h3>
      <p class="text-leading-relaxed md:mt-4 mt-2">リールには大きく分けて、スピニングリールとベイトリールの2種類があります。ここではベイトリールの扱いが難しいのでスピニングリールについて解説していきます。基本的にスピニングリールを選んでおくと良いです。</p>
      <div class="md:mt-4 mt-2 grid md:grid-cols-2 grid-cols-2 md:gap-4 gap-2 font-bold">
        <div class="text-center">
          <p>スピニングリール</p>
          <%= image_tag "spinning.jpg", class: "w-full md:h-80 h-40 object-cover" %>
        </div>
        <div class="text-center">
          <p>ベイトリール</p>
          <%= image_tag "bait.jpg", class: "w-full md:h-80 h-40 object-cover" %>
        </div>
      </div>
      <div class="md:pt-10 pt-6" id="reel_size">
        <h4 class="md:text-lg text-base font-bold">リールの大きさ(番手)</h4>
        <p class="md:mt-4 mt-2">以下はスピニングリールの大きさ(番手)についてまとめた表になります。</p>
        <div class="js-scrollable bg-white md:mt-4 mt-2">
          <table class="md:w-full w-[800px]">
            <thead>
              <tr class="bg-[#D1D5DA]">
                <th class="py-3 px-4 border-2 border-blue">番手</th>
                <th class="py-3 px-4 border-2 border-blue">対応ライン目安</th>
                <th class="py-3 px-4 border-2 border-blue">用途</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="py-2 px-4 border-2 border-blue">1000~2000番</td>
                <td class="py-2 px-4 border-2 border-blue">ナイロン(0.3号～1号程度)、peライン(0.4号ぐらい)</td>
                <td class="py-2 px-4 border-2 border-blue">アジング、メバリング、トラウト</td>
              </tr>
              <tr>
                <td class="py-2 px-4 border-2 border-blue">2500~3000番<br>(汎用性が高くおすすめ)</td>
                <td class="py-2 px-4 border-2 border-blue">ナイロン(1号～2.5号程度)、peライン(0.6号～1.2号ぐらい)</td>
                <td class="py-2 px-4 border-2 border-blue">サビキ釣り、フカセ釣り、ちょい投げ釣り、エギング、シーバス</td>
              </tr>
              <tr>
                <td class="py-2 px-4 border-2 border-blue">4000~5000番</td>
                <td class="py-2 px-4 border-2 border-blue">ナイロン(2.5号～4号程度)、peライン(1.5号～3号ぐらい)</td>
                <td class="py-2 px-4 border-2 border-blue">ショアジギング、タチウオ、ヒラメ</td>
              </tr>
              <tr>
                <td class="py-2 px-4 border-2 border-blue">6000~8000番</td>
                <td class="py-2 px-4 border-2 border-blue">ナイロン(4号～6号程度)、peライン(3号～5号ぐらい)</td>
                <td class="py-2 px-4 border-2 border-blue">オフショアジギング、大型青物</td>
              </tr>
              <tr>
                <td class="py-2 px-4 border-2 border-blue">10000番以上</td>
                <td class="py-2 px-4 border-2 border-blue">ナイロン(6号以上)、peライン(5号以上)</td>
                <td class="py-2 px-4 border-2 border-blue">ビッグゲーム、カジキ、GT</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="md:pt-10 pt-6" id="reel_ratio">
          <h4 class="md:text-lg text-base font-bold">リールのギア比</h4>
          <p class="md:mt-4 mt-2">以下はスピニングリールのギア比についてまとめた表になります。</p>
          <div class="js-scrollable bg-white md:mt-4 mt-2">
            <table class="md:w-full w-[800px]">
              <thead>
                <tr class="bg-[#D1D5DA]">
                  <th class="py-3 px-4 border-2 border-blue">ギア</th>
                  <th class="py-3 px-4 border-2 border-blue">ギア比</th>
                  <th class="py-3 px-4 border-2 border-blue">用途</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="py-2 px-4 border-2 border-blue">ノーマルギア(表記なし)</td>
                  <td class="py-2 px-4 border-2 border-blue">4.9〜5.3程度</td>
                  <td class="py-2 px-4 border-2 border-blue">様々な釣りで使用可能。</td>
                </tr>
                <tr>
                  <td class="py-2 px-4 border-2 border-blue">ローギア(PG・P)</td>
                  <td class="py-2 px-4 border-2 border-blue">4.3～4.9程度</td>
                  <td class="py-2 px-4 border-2 border-blue">ゆっくり動かしたい釣りで使用。アジング、メバリング、トラウト等</td>
                </tr>
                <tr>
                  <td class="py-2 px-4 border-2 border-blue">ハイギア(HG、H)</td>
                  <td class="py-2 px-4 border-2 border-blue">5.6～6.1程度</td>
                  <td class="py-2 px-4 border-2 border-blue">ライトゲームからエギング、シーバス、フラットフィッシュ、ロックフィッシュ、青物まで幅広く使用</td>
                </tr>
                <tr>
                  <td class="py-2 px-4 border-2 border-blue">エクストラハイギア(XG、XH)</td>
                  <td class="py-2 px-4 border-2 border-blue">6.2～6.6程度</td>
                  <td class="py-2 px-4 border-2 border-blue">ヒラスズキゲームやロングキャストを多用するサーフでのルアーゲームやショアジギング等</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="md:pt-10 pt-6" id="reel_choose">
          <h4 class="md:text-lg text-base font-bold">リールの選び方</h4>
          <p class="md:mt-4 mt-2">
          上記の番手とギア比を参考に、釣りたい魚と場所に合わせてラインの太さ、長さを決めて、リールを決めます。<br>
          実際の商品表示ではC3000HGのように番手とギア比の表記が組み合わされて表示されているので、確認しながら選びます。<br>
          一つ注意点ですが、ダイソーのリールを買うなら釣り具メーカーの安価なリールを買うことをお勧めします。耐久性と性能から、安心して魚とファイトすることができます。
          </p>
        </div>
      </div>
    </div>

    <div class="md:pt-10 pt-6" id="line">
      <h3 class="md:text-xl text-lg font-bold">ライン</h3>
      <p class="leading-relaxed md:mt-4 mt-2">釣りには「ライン」と呼ばれる糸が必要でラインにはさまざまな種類があります。ここでは代表的なナイロンライン、フロロカーボンライン、PEラインについて紹介します。</p>
      <%= image_tag "top-lines.jpg", class: "md:mt-2 mt-1 w-auto" %>
      <div class="md:pt-10 pt-6" id="line_nylon">
        <h4 class="md:text-lg text-base font-bold">ナイロンライン</h4>
        <p class="md:mt-4 mt-2">柔軟で伸びやすいので扱いやすく、魚の引きに対してショックを吸収してくれます。</p>
        <div class="js-scrollable bg-white md:mt-4 mt-2">
          <table class="md:w-full w-[800px]">
            <thead>
              <tr class="bg-[#D1D5DA]">
                <th class="py-3 px-4 border-2 border-blue">号数</th>
                <th class="py-3 px-4 border-2 border-blue">ポンド(lb)</th>
                <th class="py-3 px-4 border-2 border-blue">魚種</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="py-2 px-4 border-2 border-blue">0.5〜1.0号</td>
                <td class="py-2 px-4 border-2 border-blue">2lb〜4lb</td>
                <td class="py-2 px-4 border-2 border-blue">アジ、サバ、イワシ、ヤマメ、トラウト、イワナ等</td>
              </tr>
              <tr>
                <td class="py-2 px-4 border-2 border-blue">1.0〜2.0号</td>
                <td class="py-2 px-4 border-2 border-blue">4lb〜8lb</td>
                <td class="py-2 px-4 border-2 border-blue">ニジマス、メバル、小型のカサゴ等</td>
              </tr>
              <tr>
                <td class="py-2 px-4 border-2 border-blue">2.0〜3.0号</td>
                <td class="py-2 px-4 border-2 border-blue">8lb〜12lb</td>
                <td class="py-2 px-4 border-2 border-blue">シーバス、イカ、クロダイ、タチウオ、ハタ等</td>
              </tr>
              <tr>
                <td class="py-2 px-4 border-2 border-blue">3.0〜4.0号</td>
                <td class="py-2 px-4 border-2 border-blue">12lb〜16lb</td>
                <td class="py-2 px-4 border-2 border-blue">シーバス、ヒラメ、青物等</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="md:pt-10 pt-6" id="line_frollo">
        <h4 class="md:text-lg text-base font-bold">フロロカーボンライン</h4>
        <p class="md:mt-4 mt-2">透明で魚に見えにくい耐摩耗性が高く、岩場や障害物に強いです。ルアーフィシングにおいて、PEラインの先端にリーダーとして結びつけて使用します。</p>
        <div class="js-scrollable bg-white md:mt-4 mt-2">
          <table class="md:w-full w-[800px]">
            <thead>
              <tr class="bg-[#D1D5DA]">
                <th class="py-3 px-4 border-2 border-blue">号数</th>
                <th class="py-3 px-4 border-2 border-blue">ポンド(lb)</th>
                <th class="py-3 px-4 border-2 border-blue">魚種</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="py-2 px-4 border-2 border-blue">0.8〜1.0号</td>
                <td class="py-2 px-4 border-2 border-blue">3lb〜4lb</td>
                <td class="py-2 px-4 border-2 border-blue">アジ、サバ、イワシ、ヤマメ、トラウト、イワナ等</td>
              </tr>
              <tr>
                <td class="py-2 px-4 border-2 border-blue">1.0〜2.0号</td>
                <td class="py-2 px-4 border-2 border-blue">4lb〜8lb</td>
                <td class="py-2 px-4 border-2 border-blue">ニジマス、メバル、小型のカサゴ等</td>
              </tr>
              <tr>
                <td class="py-2 px-4 border-2 border-blue">2.0〜3.0号</td>
                <td class="py-2 px-4 border-2 border-blue">8lb〜12lb</td>
                <td class="py-2 px-4 border-2 border-blue">中型のシーバス、チヌ、ハタ等</td>
              </tr>
              <tr>
                <td class="py-2 px-4 border-2 border-blue">3.0〜6.0号</td>
                <td class="py-2 px-4 border-2 border-blue">12lb〜22lb</td>
                <td class="py-2 px-4 border-2 border-blue">ブラックバス、コイ、シーバス、タチウオ、青物等</td>
              </tr>
              <tr>
                <td class="py-2 px-4 border-2 border-blue">6.0〜10.0号</td>
                <td class="py-2 px-4 border-2 border-blue">22lb〜35lb</td>
                <td class="py-2 px-4 border-2 border-blue">大型シーバス、大型青物等</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="md:pt-10 pt-6" id="line_pe">
        <h4 class="md:text-lg text-base font-bold">PEライン</h4>
        <p class="md:mt-4 mt-2">感度と強度が非常に高く、細いラインでも大物を狙えて遠投しやすいです。</p>
        <div class="js-scrollable bg-white md:mt-4 mt-2">
          <table class="md:w-full w-[800px]">
            <thead>
              <tr class="bg-[#D1D5DA]">
                <th class="py-3 px-4 border-2 border-blue">号数</th>
                <th class="py-3 px-4 border-2 border-blue">ポンド(lb)</th>
                <th class="py-3 px-4 border-2 border-blue">魚種</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="py-2 px-4 border-2 border-blue">0.1〜0.6号</td>
                <td class="py-2 px-4 border-2 border-blue">4lb〜12lb</td>
                <td class="py-2 px-4 border-2 border-blue">アジ、メバル、トラウト等</td>
              </tr>
              <tr>
                <td class="py-2 px-4 border-2 border-blue">0.6〜0.8号</td>
                <td class="py-2 px-4 border-2 border-blue">12lb〜16lb</td>
                <td class="py-2 px-4 border-2 border-blue">イカ、ブラックバス、シーバス等</td>
              </tr>
              <tr>
                <td class="py-2 px-4 border-2 border-blue">0.8〜1.0号</td>
                <td class="py-2 px-4 border-2 border-blue">16lb〜20lb</td>
                <td class="py-2 px-4 border-2 border-blue">シーバス等</td>
              </tr>
              <tr>
                <td class="py-2 px-4 border-2 border-blue">1.0号以上</td>
                <td class="py-2 px-4 border-2 border-blue">20lb以上</td>
                <td class="py-2 px-4 border-2 border-blue">大型青物、大型バス等</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="md:pt-10 pt-6" id="lure">
      <h3 class="md:text-xl text-lg font-bold">ルアー</h3>
      <p class="text-leading-relaxed md:mt-4 mt-2">ルアーは魚を引き寄せるための疑似餌です。</p>
      <%= image_tag "top-lures.jpg", class: "md:mt-2 mt-1 w-auto" %>
      <p class="text-leading-relaxed md:mt-4 mt-2">ルアーの基本的な種類と、それぞれの使い方について説明します。</p>
      <div class="js-scrollable bg-white md:mt-4 mt-2">
        <table class="md:w-full w-[800px]">
          <thead>
            <tr class="bg-[#D1D5DA]">
              <th class="py-3 px-4 border-2 border-blue">ルアーの種類</th>
              <th class="py-3 px-4 border-2 border-blue">特徴</th>
              <th class="py-3 px-4 border-2 border-blue">用途</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="py-2 px-4 border-2 border-blue">ミノー</td>
              <td class="py-2 px-4 border-2 border-blue">細長い形状で、小魚に似せたデザイン</td>
              <td class="py-2 px-4 border-2 border-blue">トラウト、バス、青物、シーバス</td>
            </tr>
            <tr>
              <td class="py-2 px-4 border-2 border-blue">メタルジグ</td>
              <td class="py-2 px-4 border-2 border-blue">重く、遠投がしやすい。水中でキラキラ光る</td>
              <td class="py-2 px-4 border-2 border-blue">青物や底物、オフショアでも使用される</td>
            </tr>
            <tr>
              <td class="py-2 px-4 border-2 border-blue">バイブレーション</td>
              <td class="py-2 px-4 border-2 border-blue">速い巻きで振動が発生し、広範囲にアピール</td>
              <td class="py-2 px-4 border-2 border-blue">バスやシーバスなどを狙う際に効果的</td>
            </tr>
            <tr>
              <td class="py-2 px-4 border-2 border-blue">ワーム</td>
              <td class="py-2 px-4 border-2 border-blue">柔らかい素材でできていて、虫や小動物に似せたデザイン</td>
              <td class="py-2 px-4 border-2 border-blue">ライトゲーム(アジング)、バス釣り、シーバス</td>
            </tr>
            <tr>
              <td class="py-2 px-4 border-2 border-blue">クランクベイト</td>
              <td class="py-2 px-4 border-2 border-blue">リップがついていて、水中を泳ぐように動く</td>
              <td class="py-2 px-4 border-2 border-blue">トラウト、バス</td>
            </tr>
            <tr>
              <td class="py-2 px-4 border-2 border-blue">エギ</td>
              <td class="py-2 px-4 border-2 border-blue">イカを釣るためにエビの外見・動きなどに似せてつくられた疑似餌</td>
              <td class="py-2 px-4 border-2 border-blue">エギング</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="md:pt-10 pt-6" id="tackle_combination">
      <h3 class="md:text-xl text-lg font-bold">タックルの組み合わせ</h3>
      <p class="text-leading-relaxed md:mt-4 mt-2">ここまでの知識でタックルの組み合わせについて解説します。</p>
      <%= image_tag "tackles.jpg", class: "md:mt-2 mt-1 w-auto" %>
      <div class="md:pt-10 pt-6" id="tackle_combination_point">
        <h4 class="md:text-lg text-md font-bold text-black mb-2">組み合わせのポイント</h4>
        <p class="md:mt-4 mt-2">タックルを組み合わせる際の参考にしてみてください。</p>
        <div class="md:mt-4 mt-2">
          <ul class="list-decimal list-inside md:mt-2 mt-1 md:pl-5 pl-0 md:space-y-2 space-y-1">
            <li>ロッドとリールのバランスをそろえることが大事です。例えば、UL〜Lのロッドには1000〜2000番のリール、L〜Mのロッドには2500〜3000番のリール、M〜Hのロッドには4000〜5000番のリールを目安にすると良いです。</li>
            <li>用途に合わせた選択が重要です。釣りたい魚や釣る場所に応じてタックルを選びます。バスフィッシングならクランクベイトやワーム、海のライトゲームなら小型(3g〜20g)のミノーやジグを使うと良いです。大型の魚を狙うショアジギングやシーバスなら、大きめのジグやミノー、バイブレーションを使うと効果的です。</li>
            <li>ラインの使い分けも大切です。初めての人にはナイロンラインかPEラインがおすすめです。いずれも8lbから20lbがおすすめです。</li>
            <li>メンテナンスも忘れずに行います。釣行後にはタックルの洗浄とオイル注油などのメンテナンスを行うことが大事です。特に海で使った場合は、塩分をしっかり落としましょう。</li>
          </ul>
        </div>
        <div class='md:mt-10 mt-6 text-center'>
          <%= link_to 'タックルを探してみる', new_fishing_gear_path, class: 'btn bg-orange text-white md:py-2 py-1 md:px-10 px-5 underline-offset-2 hover:orange font-bold ' %>
        </div>
      </div>

      <div class="md:pt-10 pt-6" id="tackle_set">
        <h4 class="md:text-lg text-md font-bold text-black mb-2">初心者向けタックルセット</h4>
        <p class="md:mt-4 mt-2">初めての海釣りタックルなら下記のセットがおすすめです。</p>
        <ul class="list-disc list-inside md:mt-2 mt-1 md:pl-5 pl-2 md:space-y-2 space-y-1">
          <li><strong>狙う魚種：</strong>キス、アジ、サバ、イワシ、シーバス、青物など色々</li>
          <li><strong>釣法：</strong>ルアーフィシング、サビキ釣り、投げ釣り</li>
          <li><strong>ロッド：</strong>ジョイントもしくは振り出しロッドの長さが6フィート〜8フィートで、硬さがML〜Mのスピニングロッド</li>
          <li><strong>リール：</strong>番手が2500番〜3000番で、ギア比がノーマルかHGのスピニングリール</li>
          <li><strong>ライン：</strong>2号〜3号のナイロンラインもしくは0.6〜1.0号のpeライン</li>
          <li><strong>ルアー：</strong>10〜30gのメタルジグ、ミノー、バイブレーション</li>
        </ul>
      </div>
    </div>
  </section>
  <div class="md:mt-10 mt-6">
    <h2 class="md:text-2xl text-xl font-bold text-orange text-center">次は釣りに行って楽しもう！</h2>
    <div class="md:mt-6 mt-3 flex justify-center">
      <%= image_tag "buri.jpg" %>
    </div>
  </div>

  <div class="to-top fixed md:right-10 right-3 md:bottom-10 bottom-16 z-10 rounded w-10 h-10 flex items-center justify-center text-orange bg-white border-orange border-2 hover:bg-orange hover:text-white transition transform"><a href="#"><i class="fa-solid fa-angles-up"></i></a></div>
</div>
