<main>
  <div class='w-full h-[500px] relative'>
    <%= image_tag 'fv2.jpg', class: 'w-full max-w-full h-full bg-cover bg-center object-cover' %>
    <div class='absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center w-full '>
      <h1 class='font-bold text-5xl text-white text-stroke'>釣りの楽しさは、選び抜かれた道具から<br>あなたの釣り道具、ここで見つけよう</h1>
      <%= link_to 'タックルを登録する', login_path, class: 'btn text-white bg-orange mt-8 px-10' %>
    </div>
  </div>

  <div class='py-14 mx-auto container text-center'>
    <h2 class='text-blue font-bold text-4xl'>Tackle Master</h2>
    <p class='text-blue'>〜タックルマスター〜</p>
    <p class='font-bold text-lg text-black mt-6'>Tacle Mastersは、釣り愛好家のための最も包括的な釣り道具アプリです。<br>あなたのタックルを管理したり、最新の釣りギアを探索しましょう！</p>
    <div class='flex w-full mt-6'>
      <%= image_tag 'top-rods.jpg', class: 'w-80 h-56 bg-contain bg-center object-cover' %>
      <%= image_tag 'top-reels.jpg', class: 'w-80 h-56 bg-contain bg-center object-cover' %>
      <%= image_tag 'top-lines.jpg', class: 'w-80 h-56 bg-contain bg-center object-cover' %>
      <%= image_tag 'top-lures.jpg', class: 'w-80 h-56 bg-contain bg-center object-cover' %>
    </div>
    <h2 class='text-center text-blue font-bold text-4xl mt-10'>特徴</h2>
    <p class='font-bold text-lg text-black mt-6'>アプリの特徴が入ります。アプリの特徴が入ります。<br>アプリの特徴が入ります。アプリの特徴が入ります。<br>アプリの特徴が入ります。アプリの特徴が入ります。</p>
    <h2 class='text-center text-blue font-bold text-4xl mt-10'>使い方</h2>
    <p class='font-bold text-lg text-black mt-6'>アプリの使い方が入ります。アプリの使い方が入ります。<br>アプリの使い方が入ります。アプリの使い方が入ります。<br>アプリの使い方が入ります。アプリの使い方が入ります。</p>
    <h2 class='text-center text-orange font-bold text-4xl mt-14'>タックルを登録してさらに釣りを楽しみませんか？</h2>
    <%= link_to 'タックルを登録する', login_path, class: 'btn text-white bg-blue mt-8 px-10 btn' %>
  </div>
</main>