<div>
  <div class='w-full md:h-[500px] sm:h-[400px] h-[300px] relative'>
    <div class="slide">
      <div class="slide-image"><%= image_tag 'fv1.jpg', class: 'bg-cover bg-center object-cover h-full w-full' %></div>
      <div class="slide-image"><%= image_tag 'fv2.jpg', class: 'bg-cover bg-center object-cover h-full w-full' %></div>
      <div class="slide-image"><%= image_tag 'fv3.jpg', class: 'bg-cover object-top object-cover h-full w-full' %></div>
    </div>
    <div class='absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center w-full '>
      <h1 class='font-heading font-bold text-3xl md:text-5xl sm:text-4xl text-white original-text-shadow'>釣りの楽しさは<br>選び抜かれた道具から</h1>
      <% if logged_in? %>
        <div class="flex-col justify-center md:mt-8 mt-4">
          <%= link_to t('.tackle_found'), new_fishing_gear_path, class: 'btn text-white bg-orange px-10' %>
          <%= link_to t('.tackle_registration'), new_tackle_path, class: 'btn text-white bg-blue px-10 md:mt-0 mt-3 md:ml-5 ml-0' %>
        </div>
      <% else %>
        <%= link_to t('.registration_start'), login_path, class: 'btn text-white bg-orange mt-8 px-10' %>
      <% end %>
    </div>
  </div>

  <div class='md:py-14 py-7 mx-auto container text-center md:px-4 px-2'>
    <h2 class='font-heading text-black font-bold md:text-3xl text-2xl'>Tackle Master</h2>
    <p class='text-orange md:text-xl text-lg md:mt-6 mt-3 font-bold'>釣り道具に特化したサービスで<br class="md:hidden block">釣り道具の管理・登録・検索ができます</p>
    <div class="flex justify-center">
      <%= image_tag 'logo.png', class: 'object-cover' %>
    </div>
    <p class='font-bold text-black md:text-xl text-lg md:mt-6 mt-3'>Tacle Master(タックルマスター)は、釣り愛好家のための釣り道具に特化したアプリです。<br class="md:block hidden">あなたのタックルを管理したり、最新の釣りギアを探索しましょう！</p>
    <div class='w-full md:mt-10 mt-5 grid md:grid-cols-4 grid-cols-2 md:gap-4 gap-2'>
      <div class='w-full'>
        <%= image_tag 'top-rods.jpg', class: 'w-full h-full bg-contain bg-center object-cover' %>
      </div>
      <div class='w-full'>
        <%= image_tag 'top-reels.jpg', class: 'w-full h-full bg-contain bg-center object-cover' %>
      </div>
      <div class='w-full'>
        <%= image_tag 'top-lines.jpg', class: 'w-full h-full bg-contain bg-center object-cover' %>
      </div>
      <div class='w-full'>
        <%= image_tag 'top-lures.jpg', class: 'w-full h-full bg-contain bg-center object-cover' %>
      </div>
    </div>

    <div class='mx-auto md:mt-10 mt-5 text-black'>
      <h2 class='text-center text-black font-bold md:text-3xl text-2xl'>使い方</h2>
      <div class="md:mt-10 mt-5">
        <div class="md:p-4 p-2 md:flex md:items-center shadow-lg rounded-lg">
          <div class="md:w-1/2 w-full">
            <h3 class="md:text-2xl text-xl font-bold text-orange">釣り入門ページを読む</h3>
            <%= link_to "釣り入門" , explanation_path, class: 'btn text-white bg-blue md:mt-4 mt-2 md:px-6 px-3' %>
            <p class='font-bold md:text-lg text-base leading-relaxed md:mt-4 mt-2'>初心者はここから。釣り道具や釣りに関する知識を深めましょう。</p>
            <% unless logged_in? %>
              <p class="md:text-sm text-xs text-orange">〜新規登録しなくても読めます〜</p>
            <% end %>
          </div>
          <div class="md:w-1/2 w-full mt-4 md:mt-0 md:ml-4">
            <%= image_tag 'https://i.gyazo.com/265b959027bacf285678916c0cc3eeb3.gif', alt: 'Image from Gyazo', width: 1000 %>
          </div>
        </div>

        <div class="p-4 md:flex md:flex-row-reverse md:items-center shadow-md rounded-lg md:mt-10 mt-5">
          <div class="md:w-1/2 w-full">
            <h3 class="md:text-2xl text-xl font-bold text-orange">釣り具の提案</h3>
            <%= link_to "提案を受ける" , new_fishing_gear_path, class: 'btn text-white bg-blue md:mt-4 mt-2 md:px-6 px-3' %>
            <p class='font-bold md:text-lg text-base leading-relaxed md:mt-4 mt-2'>狙う魚、予算、釣りの場所、釣りの種類、釣りの経験レベル、釣り具の種類、メーカーを入力してください。<br>あなたに最適な釣り具を提案し、関連する商品も紹介します。いろんな釣り具に出会いましょう！<br>提案は1日3回まで受けることができます。</p>
            <% unless logged_in? %>
              <p class="md:text-sm text-xs text-orange">〜新規登録する必要があります〜</p>
            <% end %>
          </div>
          <div class="md:w-1/2 w-full mt-4 md:mt-0 md:ml-4">
            <%= image_tag 'https://i.gyazo.com/fd9dec53bfc5a6407379274012c2e646.gif', alt: 'Image from Gyazo', width: 1000 %>
          </div>
        </div>

        <div class="md:p-4 p-2 md:flex md:items-center shadow-lg rounded-lg md:mt-10 mt-5">
          <div class="md:w-1/2 w-full">
            <h3 class="md:text-2xl text-xl font-bold text-orange">釣り具登録</h3>
            <%= link_to "タックルを登録する" , new_tackle_path, class: 'btn text-white bg-blue md:mt-4 mt-2 md:px-6 px-3' %>
            <p class='font-bold md:text-lg text-base leading-relaxed md:mt-4 mt-2'>タックルを作成し、そこにロッド、リール、小物を自由に追加してください。お好みのタックルを作りましょう！スマホからの利用をおすすめします。</p>
            <% unless logged_in? %>
              <p class="md:text-sm text-xs text-orange">〜新規登録する必要があります〜</p>
            <% end %>
          </div>
          <div class="md:w-1/2 w-full mt-4 md:mt-0 md:ml-4">
            <%= image_tag 'https://i.gyazo.com/c324393e8b384913c6f385677b6624de.jpg', alt: 'Image from Gyazo', width: 1000 %>
          </div>
        </div>
      </div>
    </div>
    <% unless logged_in? %>
      <div class="text-center relative rounded overflow-hidden md:mt-10 mt-5">
        <%= image_tag 'top-footer.jpg', class: 'w-full max-w-full md:h-80 h-40 bg-cover bg-center object-cover' %>
        <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center w-full">
          <h2 class='font-heading text-center text-orange font-bold md:text-3xl text-2xl original-text-shadow'>釣りを楽しみませんか？</h2>
          <%= link_to t('.registration_start'), login_path, class: 'btn text-white bg-orange md:mt-8 mt-4 md:px-10 px-5' %>
        </div>
      </div>
    <% end %>
  </div>
</div>