<div>
  <div class='w-full md:h-[500px] sm:h-[400px] h-[300px] relative'>
    <div class="slide">
      <div class="slide-image"><%= image_tag 'fv1.jpg', class: 'bg-cover bg-center object-cover h-full w-full' %></div>
      <div class="slide-image"><%= image_tag 'fv2.jpg', class: 'bg-cover bg-center object-cover h-full w-full' %></div>
      <div class="slide-image"><%= image_tag 'fv3.jpg', class: 'bg-cover object-top object-cover h-full w-full' %></div>
    </div>
    <div class='absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center w-full '>
      <h1 class='font-heading font-bold text-3xl md:text-5xl sm:text-4xl text-white original-text-shadow'><%= t('.fishing_fun') %><br><%= t('.to_items') %></h1>
      <% if logged_in? %>
        <div class="flex-col justify-center md:mt-8 mt-4">
          <%= link_to t('.tackle_found'), new_fishing_suggestion_path, class: 'btn text-white bg-orange px-10' %>
          <%= link_to t('.tackle_registration'), new_tackle_path, class: 'btn text-white bg-blue px-10 md:mt-0 mt-3 md:ml-5 ml-0' %>
        </div>
      <% else %>
        <%= link_to t('.registration_start'), login_path, class: 'btn text-white bg-orange mt-8 px-10' %>
      <% end %>
    </div>
  </div>

  <div class='md:py-14 py-7 mx-auto container text-center md:px-4 px-2'>
    <h2 class='font-heading text-black font-bold md:text-3xl text-2xl'><%= t('.Tackle_Master') %></h2>
    <p class='text-orange md:text-xl text-lg md:mt-6 mt-3 font-bold'><%= t('.Services_specializing_in_fishing_equipment') %><br class="md:hidden block"><%= t('.You_can_manage_register_and_search_fishing_gear') %></p>
    <div class="flex justify-center md:mt-10 mt-5">
      <%= image_tag 'tackle-service.jpg', class: 'object-cover md:w-auto md:w-1/2 w-full' %>
    </div>
    <p class='font-bold text-black md:text-xl text-lg md:mt-10 mt-5'><%= t('.TackleMaster_is_an_app_specializing_in_fishing_equipment_for_fishing_enthusiasts') %><br class="md:block hidden"><%= t('.You_can_manage_register_and_search_fishing_gear') %></p>
    <div class='w-full md:mt-10 mt-5 grid md:grid-cols-4 grid-cols-2 md:gap-4 gap-2'>
      <div class='w-full'>
        <%= image_tag 'top-rods.jpg', class: 'w-full h-full bg-contain bg-center object-cover' %>
      </div>
      <div class='w-full'>
        <%= image_tag 'top-reels.jpg', class: 'w-full h-full bg-contain bg-center object-cover' %>
      </div>
      <div class='w-full'>
        <%= image_tag 'top-lines.jpg', class: 'w-full h-full bg-contain bg-center object-cover' %>
      </div>
      <div class='w-full'>
        <%= image_tag 'top-lures.jpg', class: 'w-full h-full bg-contain bg-center object-cover' %>
      </div>
    </div>

    <div class='mx-auto md:mt-10 mt-5 text-black'>
      <h2 class='text-center text-black font-bold md:text-3xl text-2xl'><%= t('.How_to_use') %></h2>
      <div class="md:mt-10 mt-5">
        <div class="p-4 border-2 border-blue rounded-lg">
          <h3 class="md:text-2xl text-xl font-bold text-orange"><%= t('.Read_the_fishing_introduction_page') %></h3>
          <div class="md:mt-6 mt-3">
            <a class="btn bg-silver text-white toggle-button"><%= t('.this_click_open_close') %></a>
          </div>
          <div class="slide-content">
            <div class="md:mt-6 mt-3 md:flex items-center">
              <div class="md:w-1/2 w-full">
                <p class='font-bold md:text-lg text-base leading-relaxed md:mt-4 mt-2'><%= t('.Beginners_can_start_here_Deepen_your_knowledge_about_fishing_gear_and_fishing') %></p>
                <%= link_to t('.fishing_introduction') , explanation_path, class: 'btn text-white bg-blue md:mt-4 mt-2 md:px-6 px-3' %>
                <% unless logged_in? %>
                  <p class="md:text-sm text-xs text-orange md:mt-6 mt-3"><%= t('.You_can_read_it_without_registering') %></p>
                <% end %>
              </div>
              <div class="md:w-1/2 w-full mt-4 md:mt-0 md:ml-4">
                <%= image_tag 'https://i.gyazo.com/265b959027bacf285678916c0cc3eeb3.gif', alt: 'Image from Gyazo', width: 1000 %>
              </div>
            </div>
          </div>
        </div>

        <div class="p-4 border-2 border-blue rounded-lg md:mt-10 mt-5">
          <h3 class="md:text-2xl text-xl font-bold text-orange"><%= t('.Fishing_gear_suggestions') %></h3>
          <div class="md:mt-6 mt-3">
            <a class="btn bg-silver text-white toggle-button"><%= t('.this_click_open_close') %></a>
          </div>
          <div class="slide-content hidden">
            <div class="md:mt-6 mt-3 md:flex md:items-center md:flex-row-reverse">
              <div class="md:w-1/2 w-full">
                <p class='font-bold md:text-lg text-base leading-relaxed md:mt-4 mt-2'><%= t('.Please_enter_your_target_fish_budget_fishing_location_type_of_fishing_fishing_experience_level_type_of_fishing_gear_and_manufacturer') %><br><%= t('.We_will_suggest_the_best_fishing_gear_for_you_and_also_introduce_related_products_Lets_meet_various_fishing_gear') %><br><%= t('.You_can_receive_up_to_fifth_suggestions_per_day') %></p>
                <%= link_to t('.receive_a_suggestion') , new_fishing_suggestion_path, class: 'btn text-white bg-blue md:mt-4 mt-2 md:px-6 px-3' %>
                <% unless logged_in? %>
                  <p class="md:text-sm text-xs text-orange md:mt-6 mt-3"><%= t('.You_need_to_register') %></p>
                <% end %>
              </div>
              <div class="md:w-1/2 w-full mt-4 md:mt-0 md:ml-4">
                <%= image_tag 'https://i.gyazo.com/fd9dec53bfc5a6407379274012c2e646.gif', alt: 'Image from Gyazo', width: 1000 %>
              </div>
            </div>
          </div>
        </div>

        <div class="p-4 border-2 border-blue rounded-lg md:mt-10 mt-5">
          <h3 class="md:text-2xl text-xl font-bold text-orange"><%= t('.Fishing_gear_registration') %></h3>
          <div class="md:mt-6 mt-3">
            <a class="btn bg-silver text-white toggle-button"><%= t('.this_click_open_close') %></a>
          </div>
          <div class="slide-content hidden">
            <div class="md:mt-6 mt-3 md:flex items-center">
              <div class="md:w-1/2 w-full">
                <p class='font-bold md:text-lg text-base leading-relaxed md:mt-4 mt-2'><%= t('.Create_your_tackle_and_feel_free_to_add_rods_reels_and_accessories_to_it_Lets_make_your_favorite_tackle_We_recommend_using_your_smartphone') %></p>
                <%= link_to t('.Register_your_tackle') , new_tackle_path, class: 'btn text-white bg-blue md:mt-4 mt-2 md:px-6 px-3' %>
                <% unless logged_in? %>
                  <p class="md:text-sm text-xs text-orange md:mt-6 mt-3"><%= t('.You_need_to_register') %></p>
                <% end %>
              </div>
              <div class="md:w-1/2 w-full mt-4 md:mt-0 md:ml-4">
                <%= image_tag 'https://i.gyazo.com/c324393e8b384913c6f385677b6624de.jpg', alt: 'Image from Gyazo', width: 1000 %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% unless logged_in? %>
      <div class="text-center relative rounded overflow-hidden md:mt-10 mt-5">
        <%= image_tag 'top-footer.jpg', class: 'w-full max-w-full md:h-80 h-40 bg-cover bg-center object-cover' %>
        <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center w-full">
          <h2 class='font-heading text-center text-orange font-bold md:text-3xl text-2xl original-text-shadow'><%= t('.Would_you_like_to_enjoy_fishing') %></h2>
          <%= link_to t('.registration_start'), login_path, class: 'btn text-white bg-orange md:mt-8 mt-4 md:px-10 px-5' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div id="loading">
  <div class="spinner"></div>
</div>