<footer class='bg-silver p-4 text-white md:p-6'>
  <nav class='container mx-auto'>
    <div class='flex justify-between mx-auto container items-center'>
      <div class="flex items-center">
        <%= link_to root_path, class: 'flex items-center' do %>
          <span class="text-lg font-bold md:text-3xl"><%= t('header.title') %></span>
          <%= image_tag "logo.png", class: "ml-2 h-6 w-6 md:h-10 md:w-10" %>
        <% end %>
      </div>
      <ul class='flex space-x-6'>
        <%= render 'shared/common_sns_links' %>
      </ul>
    </div>
    <div class='flex flex-col mx-auto container mt-2 md:justify-between md:flex-row md:mt-6'>
      <ul class='flex flex-wrap font-bold justify-between text-sm md:text-base space-x-0 md:space-x-6'>
        <%= render 'shared/common_footer_links' %>
      </ul>
      <div class='text-center text-sm md:text-base mt-2 md:mt-0'><p>&copy; 2024 Tackle Master</p></div>
    </div>
  </nav>
</footer>