<footer class='md:bg-silver bg-blue md:p-4 p-0 text-white'>
  <nav class='container mx-auto'>
    <div class='hidden md:flex justify-between mx-auto container items-center'>
      <div><%= link_to t('footer.title'), tackles_path, class: 'text-xl md:text-3xl font-bold' %></div>
      <ul class='flex space-x-6'>
        <li>
            <%= link_to 'https://twitter.com/ida09r' do %>
                <i class="fa-brands fa-x-twitter text-blue text-xl hover:opacity-70 transition-all duration-300"></i>
            <% end %>
        </li>
        <li>
            <%= link_to root_path do %>
                <i class="fa-brands fa-facebook-f text-blue text-xl hover:opacity-70 transition-all duration-300"></i>
            <% end %>
        </li>
        <li>
            <%= link_to 'https://www.instagram.com/rei_webcreative/' do %>
                <i class="fa-brands fa-instagram text-blue text-xl hover:opacity-70 transition-all duration-300"></i>
            <% end %>
        </li>
      </ul>
    </div>
    <div class='hidden md:flex justify-between mx-auto container items-center mt-6'>
      <ul class='flex space-x-6 font-bold'>
        <li><%= link_to t('footer.contact'), 'https://docs.google.com/forms/d/e/1FAIpQLScL-iN4VsmofpoysNffvmbGMVUPAZTgsvtGoIPGMjQys7DBWQ/viewform',class: 'text-lg hover:opacity-70 transition-all duration-300' %></li>
        <li><%= link_to t('footer.terms_of_service'),'#', class: 'text-lg hover:opacity-70 transition-all duration-300' %></li>
        <li><%= link_to t('footer.privacy_policy'), '#', class: 'text-lg hover:opacity-70 transition-all duration-300' %></li>
      </ul>
      <div><p>&copy; 2024 Tackle Master</p></div>
    </div>
  </nav>
  <div class="md:hidden static fixed left-0 bottom-0 w-full z-10">
    <div class="flex justify-around">
      <%= link_to 'マイページ', tackles_path, class: 'flex-1 text-center text-sm bg-blue text-white font-bold py-2 border-r border-white hover:opacity-70 transition-all duration-300' %>
      <%= link_to 'タックル提案', fishing_gears_path, class: 'flex-1 text-center text-sm bg-blue text-white font-bold py-2 border-r border-white hover:opacity-70 transition-all duration-300' %>
      <%= link_to 'coming soon', '#', class: 'flex-1 text-center text-sm bg-blue text-white font-bold py-2 hover:opacity-70 transition-all duration-300' %>
    </div>
  </div>
</footer>
