<footer class='md:bg-silver bg-blue md:p-4 p-0 text-white'>
  <nav class='container mx-auto'>
    <div class='hidden md:flex justify-between mx-auto container items-center'>
      <div class="flex items-center">
        <%= link_to root_path, class: 'flex items-center' do %>
          <span class="text-lg font-bold md:text-3xl"><%= t('header.title') %></span>
          <%= image_tag "logo", class: "ml-2 h-6 w-6 md:h-10 md:w-10" %>
        <% end %>
      </div>
      <ul class='flex space-x-6'>
        <%= render 'shared/common_sns_links' %>
      </ul>
    </div>
    <div class='hidden md:flex justify-between mx-auto container items-center mt-6'>
      <ul class='flex space-x-6 font-bold'>
        <%= render 'shared/common_footer_links' %>
        <li><%= link_to t('footer.user_destroy'), user_path(current_user), class: 'md:text-lg text-sm font-bold hover:opacity-70 transition-all duration-300', data: { turbo_method: :delete, turbo_confirm: t('footer.delete') } %></li>
      </ul>
      <div><p>&copy; 2024 Tackle Master</p></div>
    </div>
  </nav>
  <div class="md:hidden static fixed left-0 bottom-0 w-full z-10">
    <div class="flex justify-around">
      <%= link_to t('footer.suggestion_page'), fishing_gears_path, class: 'flex-1 text-center text-sm bg-blue text-white font-bold py-3 border-r border-white hover:opacity-70 transition-all duration-300' %>
      <%= link_to t('footer.tackles_page'), tackles_path, class: 'flex-1 text-center text-sm bg-blue text-white font-bold py-3 border-r border-white hover:opacity-70 transition-all duration-300' %>
      <%= link_to t('footer.explanation'), explanation_path, class: 'flex-1 text-center text-sm bg-blue text-white font-bold py-3 hover:opacity-70 transition-all duration-300' %>
    </div>
    <div class="bg-blue h-[16px] border-t"></div>
  </div>
</footer>
