<footer class='bg-silver p-4 text-white'>
  <nav class='container mx-auto'>
    <div class='flex justify-between mx-auto container items-center'>
      <div class='text-3xl font-bold'><%= t "footer.title" %></div>
      <ul class='flex space-x-6'>
        <li>
            <%= link_to root_path do %>
                <i class="fa-brands fa-x-twitter text-blue text-xl"></i>
            <% end %>
        </li>
        <li>
            <%= link_to root_path do %>
                <i class="fa-brands fa-facebook-f text-blue text-xl"></i>
            <% end %>
        </li>
        <li>
            <%= link_to root_path do %>
                <i class="fa-brands fa-instagram text-blue text-xl"></i>
            <% end %>
        </li>
      </ul>
    </div>
    <div class='flex justify-between mx-auto container items-center mt-6'>
      <ul class='flex space-x-6'>
        <li><%= link_to t('footer.contact'), class: 'text-lg hover:text-red-200 transition-all duration-300' %></li>
        <li><%= link_to t('footer.terms_of_service'), class: 'text-lg hover:text-red-200 transition-all duration-300' %></li>
        <li><%= link_to t('footer.privacy_policy'), class: 'text-lg hover:text-red-200 transition-all duration-300' %></li>
      </ul>
      <div><p>&copy; 2024 Tackle Master</p></div>
    </div>
  </nav>
</footer>