<header class="bg-blue text-white p-4 md:p-6 fixed w-full top-0 left-0 z-10">
  <nav class="flex justify-between mx-auto container items-center">
    <div><%= link_to t('header.title'), root_path, class: 'text-xl font-bold md:text-3xl' %></div>
    <div class="space-x-6 font-bold hidden md:block">
      <%= link_to t('header.search_tackle'), fishing_gears_path, class: 'text-lg hover:opacity-70 transition-all duration-300' %>
      <%= link_to t('header.tackles_page'), tackles_path, class: 'text-lg hover:opacity-70 transition-all duration-300' %>
      <%= link_to t('header.explanation'), explanation_path, class: 'text-lg hover:opacity-70 transition-all duration-300' %>
      <%= link_to t('header.logout'), logout_path, class: 'text-lg hover:opacity-70 transition-all duration-300', data: { turbo_method: :delete } %>
    </div>
    <button class="block md:hidden" onclick="my_modal_2.showModal()"><i class="fa-solid fa-gear md:hidden text-white text-xl"></i></button>
  </nav>

  <dialog id="my_modal_2" class="modal"><!-- モーダルウィンドウ -->
    <div class="modal-box bg-silver flex flex-col justify-center text-center">
      <ul class="flex justify-center flex-col text-bold">
        <li><%= link_to t('header.logout'), logout_path, class: 'md:text-lg text-sm font-bold hover:opacity-70 transition-all duration-300', data: { turbo_method: :delete } %></li>
        <%= render 'shared/common_footer_links' %>
      </ul>
      <ul class='flex space-x-6 justify-center mt-4'>
        <%= render 'shared/common_sns_links' %>
      </ul>
      <p class="py-4">&copy; 2024 Tackle Master</p>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog><!-- モーダルウィンドウここまで -->

</header>
