<div class="bg-white shadow overflow-hidden sm:rounded-lg mb-4">
  <div class="px-4 py-5 sm:px-6 relative">
    <h3 class="text-lg leading-6 font-medium text-gray-900">
      <%= plan.fish_types %> ： <%= plan.location %>
    </h3>
    <p class="mt-1 max-w-2xl text-sm text-gray-500">
      日付: <%= plan.fishing_date %>
    </p>
    <div class='flex justify-end absolute right-2 bottom-2 z-10'>
        <%= link_to edit_fishing_plan_path(plan) do %>
          <i class="fa-solid fa-pen text-blue"></i>
        <% end %>
        <%= link_to fishing_plan_path(plan), method: :delete, data: { turbo_method: :delete, turbo_confirm: t('.delete') }, class: 'ml-2' do %>
          <i class="fa-solid fa-trash text-blue"></i>
        <% end %>
    </div>
  </div>
  <div class="border-t border-gray-200">
    <dl>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          気温
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= plan.temperature %> °C
        </dd>
      </div>
      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          風速
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= plan.wind_speed %> m/s
        </dd>
      </div>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          天気状態
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= plan.weather_condition %>
        </dd>
      </div>
      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          降水確率
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= plan.precipitation_probability %> %
        </dd>
      </div>
    </dl>
  </div>
</div>