<div class='w-1/2 md:w-1/4 p-2'>
  <div class='flex flex-col justify-between text-center shadow-xl bg-white rounded-lg overflow-hidden h-full'>
    <%= image_tag reel.image, class: "w-full md:h-36 h-28 object-cover" if reel.image.attached? %>
    <div class='text-center flex flex-col flex-1 p-4'>
      <h2 class='md:text-lg text-base font-bold text-black'><%= reel.name %></h2>
      <p class='grow md:text-sm text-xs'><%= reel.memo %></p>
      <div class='flex justify-end mt-auto'>
        <%= link_to edit_tackle_reel_path(@tackle, reel) do %>
          <i class="fa-solid fa-pen text-blue"></i>
        <% end %>
        <%= link_to tackle_reel_path(@tackle, reel), method: :delete, data: { turbo_method: :delete, turbo_confirm: t('.delete') }, class: 'ml-2' do %>
          <i class="fa-solid fa-trash text-blue"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
