<div class="flex flex-col shadow-xl text-black rounded">
    <%= link_to fishing_gear_path(fishing_gear), class: 'block h-full' do %>
        <div class="bg-white rounded-lg md:p-6 p-3 md:mb-6 mb-3 flex flex-col h-full border-blue border-2 hover:shadow-lg transition transform hover:scale-105">
            <h2 class="md:text-2xl text-xl font-bold flex-shrink-0"><%= fishing_gear.fish_type %><%= t('fishing_gears.fishing_gear.target') %></h2>
            <p class="mt-4 flex-shrink-0"><strong><%= t('fishing_gears.fishing_gear.budget') %>:</strong> <%= fishing_gear.budget %></p>
            <p class="mt-2 flex-shrink-0"><strong><%= t('fishing_gears.fishing_gear.location') %>:</strong> <%= fishing_gear.location %></p>
            <p class="mt-2 flex-shrink-0"><strong><%= t('fishing_gears.fishing_gear.fishing_type') %>:</strong> <%= fishing_gear.fishing_type %></p>
            <p class="mt-2 flex-shrink-0"><strong><%= t('fishing_gears.fishing_gear.tackle_type') %>:</strong> <%= fishing_gear.tackle_type %></p>
            <p class="mt-2 flex-shrink-0"><strong><%= t('fishing_gears.fishing_gear.tackle_maker') %>:</strong> <%= fishing_gear.tackle_maker %></p>
            <p class="mt-2 flex-shrink-0"><strong><%= t('fishing_gears.fishing_gear.skill_level') %>:</strong> <%= fishing_gear.skill_level %></p>
            <p class="mt-2 flex-grow"><strong><%= t('fishing_gears.fishing_gear.suggestion') %>:</strong><br><%= fishing_gear.suggestion %></p>
            <p><strong><%= t('fishing_gears.fishing_gear.memo') %>:</strong><br><%= fishing_gear.memo %></p>
        </div>
    <% end %>
</div>