<% content_for(:title, t('.title')) %>
<div class="py-14 md:max-w-screen-lg mx-auto px-4">
    <h1 class="text-center text-3xl text-black font-bold"><%= t('.title') %></h1>
    <div class='mt-10 text-center'>
      <%= link_to t('.create_new_suggestion'), new_fishing_gear_path, class: 'btn bg-orange text-white py-2 px-10 underline-offset-2 hover:orange font-bold ' %>
    </div>
    <!-- 提案を一覧表示 -->
    <div class='block md:flex md:flex-wrap mt-10'>
      <% if @fishing_gears.present? %>
        <%= render partial: 'fishing_gear', collection: @fishing_gears %>
      <% else %>
        <div class="mb-3"><%= t('.please_create_suggestion') %></div>
      <% end %>
    </div>
    <%= paginate @fishing_gears %>
</div>
