<% content_for(:title, t('.title')) %>
<div class="py-14 mx-auto px-4">
    <h1 class="text-center text-3xl text-black font-bold"><%= t('.title') %></h1>

    <div class="mt-8">
        <div class="md:max-w-3xl w-full mx-auto">
            <!-- Edit and Delete Buttons -->
            <div class="flex justify-end space-x-4 mb-4">
                <%= link_to edit_fishing_gear_path(@fishing_gear), class: 'bg-blue text-white px-4 py-2 rounded hover:bg-blue-700 flex items-center hover:opacity-70' do %>
                    <i class="fa fa-edit mr-2"></i> <%= t('.edit') %>
                <% end %>
                <%= link_to fishing_gear_path(@fishing_gear), method: :delete, data: { turbo_method: :delete, turbo_confirm: t('.delete') }, class: 'bg-orange text-white px-4 py-2 rounded hover:bg-red-700 flex items-center hover:opacity-70' do %>
                    <i class="fa fa-trash mr-2"></i> <%= t('.destroy') %>
                <% end %>
            </div>

            <h2 class="text-black font-bold text-xl mb-4"><%= t('.content') %></h2>
            <div class="p-4 border-[#1E90FF] border-2 rounded-lg text-black space-y-4">
                <div>
                    <h3 class="text-black font-bold text-lg"><%= t('.fish_type') %></h3>
                    <p class="mt-1 text-black"><%= @fishing_gear.fish_type %></p>
                </div>
                <div>
                    <h3 class="text-black font-bold text-lg"><%= t('.budget') %></h3>
                    <p class="mt-1 text-black"><%= @fishing_gear.budget %></p>
                </div>
                <div>
                    <h3 class="text-black font-bold text-lg"><%= t('.location') %></h3>
                    <p class="mt-1 text-black"><%= @fishing_gear.location %></p>
                </div>
                <div>
                    <h3 class="text-black font-bold text-lg"><%= t('.fishing_type') %></h3>
                    <p class="mt-1 text-black"><%= @fishing_gear.fishing_type %></p>
                </div>
                <div>
                    <h3 class="text-black font-bold text-lg"><%= t('.skill_level') %></h3>
                    <p class="mt-1 text-black"><%= @fishing_gear.skill_level %></p>
                </div>
                <div>
                    <h3 class="text-black font-bold text-lg"><%= t('.tackle_type') %></h3>
                    <p class="mt-1 text-black"><%= @fishing_gear.tackle_type %></p>
                </div>
                <div>
                    <h3 class="text-black font-bold text-lg"><%= t('.tackle_maker') %></h3>
                    <p class="mt-1 text-black"><%= @fishing_gear.tackle_maker %></p>
                </div>
            </div>

            <h2 class="text-black font-bold text-xl mt-8"><%= t('.suggestion_content') %></h2>
            <div class="p-4 border-[#1E90FF] border-2 mt-2 rounded-lg text-black">
                <%= @fishing_gear.suggestion %>
            </div>

            <h2 class="text-black font-bold text-xl mt-8"><%= t('.memo') %></h2>
            <div class="p-4 border-[#1E90FF] border-2 mt-2 rounded-lg text-black">
                <% if @fishing_gear.memo.present? %>
                    <%= @fishing_gear.memo %>
                <% else %>
                    <%= t('.none') %>
                <% end %>
            </div>
        </div>

        <div class="md:max-w-screen-lg w-full mx-auto">
            <% if @items.present? %>
                <h2 class="text-black font-bold text-xl mt-8"><%= t('.connection_products') %></h2>
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-4">
                    <% @items.each do |item| %>
                            <%= link_to item[:url], target: "_blank", class: 'block card-shine hover:shadow-lg transition transform hover:scale-105' do %>
                                <div class="border-[#1E90FF] border-2 rounded-lg p-4 flex flex-col h-full">
                                    <img src="<%= item[:image] %>" alt="<%= item[:name] %>" class="w-full h-auto mb-2">
                                    <p class="text-gray-700 text-sm mb-1"><%= item[:name] %></p>
                                    <p class="text-gray-700 text-sm"><%= t('.price') %><%= item[:price] %></p>
                                </div>
                            <% end %>
                    <% end %>
                </div>
            <% else %>
                <p class="text-center text-gray-700 mt-4">
                    <%= @error_message.present? ? @error_message : t('.not_found_products') %>
                </p>
            <% end %>
        </div>
    </div>

    <div class='mt-8 text-center'>
        <%= link_to t('.return'), fishing_gears_path, class: 'underline underline-offset-2 text-link hover:orange font-bold' %>
    </div>
</div>
