<% content_for(:title, t('.title')) %>
<div class=''>
  <div class='py-14 max-w-lg mx-auto px-4'>
    <h1 class='text-center text-3xl text-black font-bold'><%= t('.title') %></h1>
    <%= form_with(model: @user, url: login_path, class: 'mt-6') do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
      <div class='mt-4'>
        <%= f.label :email, class: 'text-black font-bold required' %>
        <%= f.email_field :email, class: 'shadow appearance-none border-2 border-blue rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>
      <div class='mt-4'>
        <%= f.label :password, class: 'text-black font-bold required' %>
        <%= f.password_field :password, class: 'shadow appearance-none border-2 border-blue rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>
      <div class='mt-4 text-center'>
        <button type="submit" class="btn font-bold bg-blue text-white hover:bg-blue-700 py-2 px-10 rounded focus:outline-none focus:shadow-outline"><%= t('.login') %></button>
      </div>
    <% end %>
    <div class='mt-8 text-center'>
      <%= link_to t('.google_login'), auth_at_provider_path(provider: :google), class: 'btn font-bold bg-orange text-white hover:bg-blue-700 py-2 px-10 rounded focus:outline-none focus:shadow-outline' %>
    </div>

    <div class='mt-8 text-center'>
      <%= link_to t('.to_register_page'), new_user_path, class: 'underline underline-offset-2 text-link hover:orange font-bold hover:opacity-70' %>
    </div>
    <div class='mt-2 text-center'>
      <%= link_to t('.password_forget'), new_password_reset_path, class: 'underline underline-offset-2 text-orange font-bold hover:opacity-70' %>
    </div>
  </div>

</div>