<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@your_twitter_handle">
    <meta name="twitter:title" content="<%= page_title(yield(:title)) %>">
    <meta name="twitter:description" content="<%= t('meta.twitter_description') %>">
    <meta name="twitter:image" content="<%= asset_path('README.jpg') %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag('favicon.ico') %>
    <!-- Google Analytics -->
    <% if Rails.env.production? %>
      <%= render 'layouts/google_analytics' %>
    <% end %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <!-- Font AwesomeのCDNリンクを追加 -->
    <script src="https://kit.fontawesome.com/74fcf6a229.js" crossorigin="anonymous"></script>
    <!-- スクロールヒント読み込み -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/scroll-hint/css/scroll-hint.css">
    <script src="https://cdn.jsdelivr.net/npm/scroll-hint/js/scroll-hint.min.js"></script>
  </head>

  <body class="font-sans md:mt-[84px] mt-[60px] md:mb-0 mb-[60px] bg-white">
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <%= render 'shared/flash_messages' %>
    <%= yield %>
    <% if logged_in? %>
      <%= render 'shared/footer' %>
    <% else %>
      <%= render 'shared/before_login_footer' %>
    <% end %>
  </body>
</html>
